<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperNova France</title>
</head>
<body>
    <h1>Entrez dans l'univers des véhicules SuperNova</h1>
    <section>
        <h2>Nos véhicules</h2>
        <article>
            <img src="{{ vehicleList[0].picture }}" alt="" width="800">
            <h3>{{ vehicleList[0].name }}</h3>
            <p>A partir de {{ vehicleList[0].price }}€</p>
            <i>{{ vehicleList[0].shortDescription }}</i>
        </article>
        <article>
            <img src="{{ vehicleList[1].picture }}" alt="" width="800">
            <h3>{{ vehicleList[1].name }}</h3>
            <p>A partir de {{ vehicleList[1].price }}€</p>
            <i>{{ vehicleList[1].shortDescription }}</i>
        </article>
        <article>
            <img src="{{ vehicleList[2].picture }}" alt="" width="800">
            <h3>{{ vehicleList[2].name }}</h3>
            <p>A partir de {{ vehicleList[3].price }}€</p>
            <i>{{ vehicleList[3].shortDescription }}</i>
        </article>
        <article>
            <img src="{{ vehicleList[3].picture }}" alt="" width="800">
            <h3>{{ vehicleList[3].name }}</h3>
            <p>A partir de {{ vehicleList[3].price }}€</p>
            <i>{{ vehicleList[3].shortDescription }}</i>
        </article>
    </section>
</body>
</html>