<section class="container" style="font-family: 'NouvelR, sans-serif';">
    <h2 class="title" style="text-align: center; color: #000; text-transform: uppercase; font-size: 1.7em; margin-top: 4rem; margin-bottom: 4rem;">Nos véhicules</h2>
    <div class="columns">
        <article *ngFor="let vehicule of vehicleList" class="column">
            <div class="card" style="box-shadow: none; margin: 2rem;">
                <div class="card-image" style="border-radius: 0; margin: 1rem;">
                    <figure class="image">
                        <img [src]="vehicule.picture" alt="" style="border-radius: 0;">
                      </figure>
                </div>
                <div class="card-content">
                    <h3 style="font-weight: bold; text-transform: uppercase; font-size: 1.2em;">{{ vehicule.name }}</h3>
                    <p style="text-transform: lowercase; font-size: 0.9em;">prix à partir de {{ vehicule.price }}€</p>
                    <i style="font-size: 0.7em;">{{ vehicule.shortDescription }}</i>
                </div>
            </div>
        </article>
    </div>
</section>